################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/build-web
imgui.ini

# Add-on packaging output
/dist

# Python bytecode (add-on)
__pycache__/
*.pyc
*.pyo
